:root {
    --primary-color: #4a1483; 
    --secondary-color: #f7f7de;
    /* --secondary-color: #B299D1; */
    --primary-light: #AB63F7;
}

input {
    display: block;
    margin-bottom: 1em;
}

footer {
    background-color: var(--primary-color);

p.primary-card {
    margin-bottom: 0px;
}
}
.karla{
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.nav-bar {
    background-color: var(--primary-color);
}

.company-name {
    font-size: 2em;
}

.logo {
    font-size: 50px;
}

.secondary-logo {
    color: var(--primary-color);
}

.landing-section {
    justify-content: space-between;
}
.landing-bg-image {
    background-image: url("https://images.unsplash.com/photo-1543342824-0f06879b0b0a?q=80&w=2674&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    min-height: 50dhv;
    background-size: cover;
    background-position: center;
}

.landing-form {
    background-color: rgb(74, 20, 131,0.7); 
}

.form-button {
    color: var(--primary-color);
    border: 1px solid black;
    padding: 10px 30px;
}

.about-us {
    position: relative;
}


.feature-card {
    background-color: var(--primary-color);
    color: whitesmoke;
    position: absolute;
    top: 700px;
    right: 40px;
    line-height: 2em;
}

.cat-yoga-img {
    height: 26em;
    aspect-ratio: 1/1;
    margin-top: 2em;
    margin-bottom: 2em;
    /*
    padding-right: 8em;
    */
}

.signup-section {
    background-color: var(--secondary-color);
    justify-content: space-around;
    align-items: center;
    /* fixing with Bootstrap grid 

    margin-top: 12.5em;
    margin-left: 5em;
    */
}

.review-card-section {
    justify-content: space-evenly;
}

.reviewer {
    color: var(--primary-color);
    text-align: center;
}

.ind-card {
    flex-direction: column;
    align-items: center;
}

.cat-ratings {
    margin-bottom: -25px;
}

.contact-info {
    line-height: 1em;
}

.contact-us {
    background-color: var(--secondary-color);
}

.form-button:hover {
    background-color: var(--primary-color);
    color: white;
}

@media screen and (max-width: 767.98px) {

.welcome {
    display: none;
}

.cat-yoga-img {
    height: 23.5em;
    align-items: center;
    padding-left: 1.5rem;
}

.feature-card {
    position: unset;
    margin-top: 1em;
}

.about-us {
    position: unset;
    margin-top: 1em;
    order: 1;
}

.feature-card {
    margin-top: 0;
    margin-bottom: 1em;
}

.signup-section {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 2em;
}

.form-button {
    margin-bottom: 1.5em;
}

.card-one {
    order: 2
}

.primary-card {
    margin-top: 1em;
    margin-bottom: 1em;
    order: 1;
}

.card-three {
    order: 3;
}

.review-card-section {
    margin-top: -3em;
    display: flex;
}

.container-fluid {
    --bs-gutter-x: 0em;
}

.row {
    --bs-gutter-x: 0em;
}

}